
<div id="loginPortal">
  <div id="sublogPortal">

    <form class="example-form">
      <mat-grid-list cols="1" rowHeight="2:1">

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email">
        </mat-form-field>

      

        <mat-grid-list cols="2" rowHeight="2:1">

         

          <mat-grid-tile colspan="1" rowspan="1">
            <button mat-icon-button id="iconRight">
              <mat-icon aria-label="Example icon-button with a arrow_forward icon">arrow_forward</mat-icon>
            </button>
          </mat-grid-tile>


        </mat-grid-list>






        <mat-grid-tile-footer rowspan="1">
          <p class="textcenter mt-4"><a routerLink="activate"> Remeber password? Login  </a> </p>

        </mat-grid-tile-footer>








      </mat-grid-list>

    </form>

  </div>


</div>