<mat-grid-list cols="1" rowHeight="18:1"  >

    <form class="example-form" >
 <mat-grid-tile>
    <mat-icon class="icon">restore</mat-icon>
 
  
       
 </mat-grid-tile  >
 <mat-grid-tile>
     <mat-form-field class="example-full-width">
         <input matInput placeholder="Enter email to get reset link" value="Email" type="email">
       </mat-form-field>
 </mat-grid-tile>

   
 <mat-grid-tile  >
<span>  <button mat-icon-button  class="float-right">
           <mat-icon aria-label="Example icon-button with arrow-icon" class="icon">arrow_forward</mat-icon>
         </button>
       </span>
  
 </mat-grid-tile>
<mat-grid-tile>
 <p class="caption">Remember your password?<a> Click here to login</a></p>
</mat-grid-tile>

       
</form>


</mat-grid-list>
