
<!-- <p style="text-align:center" class="search-bar">
  <mat-form-field appearance="outline" class="full">
    <mat-label>search</mat-label>
    <input matInput placeholder="Placeholder">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</p> -->
<div style="margin-top:10px;"> 
         <div class="row">       
            <mat-grid-list cols="5" rowHeight="5:4" >             
              <mat-grid-tile>
                <a routerLink="">
                <mat-card class="example-card">
                  <mat-card-header>
                    <div mat-card-avatar>
                      <i><mat-icon class="icon">account_circle</mat-icon> </i>
                    </div>
                    <mat-card-title>
                      <h5 class="headings"> Profile </h5>
                    </mat-card-title>
                    <mat-card-subtitle><span class="caption"> Manage, edit, delete, and update your profile here</span></mat-card-subtitle>
                  </mat-card-header>
          
                </mat-card>
              </a>
              </mat-grid-tile>
           
          
              <!-- start -->
          
              <!-- end of 1  -->
              <mat-grid-tile>
                  <a routerLink="">
                      <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar>
                            <i><mat-icon class="icon">account_circle</mat-icon> </i>
                          </div>
                          <mat-card-title>
                            <h5 class="headings"> Users </h5>
                          </mat-card-title>
                          <mat-card-subtitle><span class="caption"> Manage, add, set roles and permissions to users</span></mat-card-subtitle>
                        </mat-card-header>
                
                      </mat-card>
                    </a>
              </mat-grid-tile>
          
              <!-- 3 -->
              <mat-grid-tile>
                  <a routerLink="">
                      <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar>
                            <i><mat-icon class="icon">account_circle</mat-icon> </i>
                          </div>
                          <mat-card-title>
                            <h5 class="headings"> Information </h5>
                          </mat-card-title>
                          <mat-card-subtitle><span class="caption"> View, edit and modify policies.</span></mat-card-subtitle>
                        </mat-card-header>
                
                      </mat-card>
                    </a>
                  </mat-grid-tile>
          
              <!--  4-->
              <mat-grid-tile>
                  <a routerLink="">
                      <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar>
                            <i><mat-icon class="icon">account_circle</mat-icon> </i>
                          </div>
                          <mat-card-title>
                            <h5 class="headings"> Utility </h5>
                          </mat-card-title>
                          <mat-card-subtitle><span class="caption">Not available now, features comming soon</span></mat-card-subtitle>
                        </mat-card-header>
                
                      </mat-card>
                    </a>
              </mat-grid-tile>
          
              <!--  5-->
              <mat-grid-tile>
                  <a routerLink="">
                      <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar>
                            <i><mat-icon class="icon">account_circle</mat-icon> </i>
                          </div>
                          <mat-card-title>
                            <h5 class="headings"> Resources </h5>
                          </mat-card-title>
                          <mat-card-subtitle><span class="caption"> Not available now, features comming soon</span></mat-card-subtitle>
                        </mat-card-header>
                
                      </mat-card>
                    </a>
                   </mat-grid-tile>
          
            </mat-grid-list>
          
          </div>
          
          
          
          
          <div class="row">       
              <mat-grid-list cols="5" rowHeight="5:3" >             
                <mat-grid-tile>
                  <a routerLink="">
                  <mat-card class="example-card">
                    <mat-card-header>
                      <div mat-card-avatar>
                        <i><mat-icon class="icon">account_circle</mat-icon> </i>
                      </div>
                      <mat-card-title>
                        <h5 class="headings"> Insight </h5>
                      </mat-card-title>
                      <mat-card-subtitle><span class="caption"> Not available now, features comming soon</span></mat-card-subtitle>
                    </mat-card-header>
            
                  </mat-card>
                </a>
                </mat-grid-tile>
             
            
                <!-- start -->
            
                <!-- end of 1  -->
                <mat-grid-tile>
                    <a routerLink="">
                        <mat-card class="example-card">
                          <mat-card-header>
                            <div mat-card-avatar>
                              <i><mat-icon class="icon">account_circle</mat-icon> </i>
                            </div>
                            <mat-card-title>
                              <h5 class="headings"> Wallet </h5>
                            </mat-card-title>
                            <mat-card-subtitle><span class="caption"> Not available now, features comming soon</span></mat-card-subtitle>
                          </mat-card-header>
                  
                        </mat-card>
                      </a>
                </mat-grid-tile>
            
                <!-- 3 -->
                <mat-grid-tile>
                    <a routerLink="">
                        <mat-card class="example-card">
                          <mat-card-header>
                            <div mat-card-avatar>
                              <i><mat-icon class="icon">account_circle</mat-icon> </i>
                            </div>
                            <mat-card-title>
                              <h5 class="headings"> Earnings </h5>
                            </mat-card-title>
                            <mat-card-subtitle><span class="caption"> Not available now, features comming soon</span></mat-card-subtitle>
                          </mat-card-header>
                  
                        </mat-card>
                      </a>
                    </mat-grid-tile>
            
                <!--  4-->
                <mat-grid-tile>
                    <a routerLink="">
                        <mat-card class="example-card">
                          <mat-card-header>
                            <div mat-card-avatar>
                              <i><mat-icon class="icon">account_circle</mat-icon> </i>
                            </div>
                            <mat-card-title>
                              <h5 class="headings"> News/Updates </h5>
                            </mat-card-title>
                            <mat-card-subtitle><span class="caption"> Not available now, features comming soon</span></mat-card-subtitle>
                          </mat-card-header>
                  
                        </mat-card>
                      </a>
                </mat-grid-tile>
            
                <!--  5-->
                <mat-grid-tile>
                    <a routerLink="">
                        <mat-card class="example-card">
                          <mat-card-header>
                            <div mat-card-avatar>
                              <i><mat-icon class="icon">account_circle</mat-icon> </i>
                            </div>
                            <mat-card-title>
                              <h5 class="headings"> Tips </h5>
                            </mat-card-title>
                            <mat-card-subtitle><span class="caption"> Not available now, features comming soon</span></mat-card-subtitle>
                          </mat-card-header>
                  
                        </mat-card>
                      </a>
                     </mat-grid-tile>
            
              </mat-grid-list>
            
            </div> 
          
          
         </div> 
<a routerLink="/desktop-screen" >
 <mat-icon aria-label="Example icon-button with arrow-icon" class="icon start-bar" > arrow_back</mat-icon>
</a>         
          
          
          
          
