
<p style="text-align:center">



  <mat-form-field appearance="outline" class="full">
    <mat-label>search</mat-label>
    <input matInput placeholder="Placeholder">
    <mat-icon matSuffix>search</mat-icon>
   
  </mat-form-field>
</p>



<div style="margin-top:10px;"> 
  


          <div class="row">
          
            <mat-grid-list cols="5" rowHeight="2:1" >
          
          
              <mat-grid-tile>
                <mat-card class="example-card">
                  <mat-card-header>
                    <div mat-card-avatar>
                      <i><mat-icon class="icon">account_circle</mat-icon> </i>
                    </div>
                    <mat-card-title>
                      <h5> Profile </h5>
                    </mat-card-title>
                    <mat-card-subtitle>users</mat-card-subtitle>
                  </mat-card-header>
          
                </mat-card>
          
              </mat-grid-tile>
          
          
              <!-- start -->
          
              <!-- end of 1  -->
              <mat-grid-tile>
                <mat-card class="example-card">
                  <mat-card-header>
                    <div mat-card-avatar>
                      <i><mat-icon class="icon">person_add</mat-icon> </i>
                    </div>
                    <mat-card-title>
                      <h5> Add users </h5>
                    </mat-card-title>
                    <mat-card-subtitle>Add users</mat-card-subtitle>
                  </mat-card-header>
                </mat-card>
              </mat-grid-tile>
          
              <!-- 3 -->
              <mat-grid-tile>
                <mat-card class="example-card">
                  <mat-card-header>
                    <div mat-card-avatar>
                      <i><mat-icon class="icon">dvr</mat-icon> </i>
                    </div>
                    <mat-card-title>
                      <h5> Management </h5>
                    </mat-card-title>
                    <mat-card-subtitle>management</mat-card-subtitle>
                  </mat-card-header>
                </mat-card>
              </mat-grid-tile>
          
              <!--  4-->
              <mat-grid-tile>
                <mat-card class="example-card">
                  <mat-card-header>
                    <div mat-card-avatar>
                      <i><mat-icon class="icon">ballot</mat-icon> </i>
                    </div>
                    <mat-card-title>
                      <h5> Utility </h5>
                    </mat-card-title>
                    <mat-card-subtitle>utility</mat-card-subtitle>
                  </mat-card-header>
                </mat-card>
              </mat-grid-tile>
          
              <!--  5-->
              <mat-grid-tile>
                <mat-card class="example-card">
                  <mat-card-header>
                    <div mat-card-avatar>
                      <i><mat-icon class="icon">attach_money</mat-icon> </i>
                    </div>
                    <mat-card-title>
                      <h5>Resources </h5>
                    </mat-card-title>
                    <mat-card-subtitle>resources</mat-card-subtitle>
                  </mat-card-header>
                </mat-card>
              </mat-grid-tile>
          
            </mat-grid-list>
          
          </div>
          
          
          
          
          <div class="row">
          
            <mat-grid-list cols="5" rowHeight="2:1">
          
          
              <mat-grid-tile>
                <mat-card class="example-card">
                  <mat-card-header>
                    <div mat-card-avatar>
                      <i><mat-icon class="icon">bubble_chart</mat-icon> </i>
                    </div>
                    <mat-card-title>
                      <h5>Insight </h5>
                    </mat-card-title>
                    <mat-card-subtitle>Insight</mat-card-subtitle>
                  </mat-card-header>
          
                </mat-card>
          
              </mat-grid-tile>
          
          
              <!-- start -->
          
              <!-- end of 1  -->
              <mat-grid-tile>
                <mat-card class="example-card">
                  <mat-card-header>
                    <div mat-card-avatar>
                      <i><mat-icon class="icon">account_balance</mat-icon> </i>
                    </div>
                    <mat-card-title>
                      <h5>Wallet </h5>
                    </mat-card-title>
                    <mat-card-subtitle>wallet</mat-card-subtitle>
                  </mat-card-header>
                </mat-card>
              </mat-grid-tile>
          
              <!-- 3 -->
              <mat-grid-tile>
                <mat-card class="example-card">
                  <mat-card-header>
                    <div mat-card-avatar>
                      <i><mat-icon class="icon">trending_up</mat-icon> </i>
                    </div>
                    <mat-card-title>
                      <h5> Earnings</h5>
                    </mat-card-title>
                    <mat-card-subtitle>earnings</mat-card-subtitle>
                  </mat-card-header>
                </mat-card>
              </mat-grid-tile>
          
              <!--  4-->
          
              <!--  5-->
              <mat-grid-tile>
                <mat-card class="example-card">
                  <mat-card-header>
                    <div mat-card-avatar>
                      <i><mat-icon class="icon">info</mat-icon> </i>
                    </div>
                    <mat-card-title>
                      <h5>Tips </h5>
                    </mat-card-title>
                    <mat-card-subtitle>Tips</mat-card-subtitle>
                  </mat-card-header>
                </mat-card>
              </mat-grid-tile>
          
              <mat-grid-tile>
                <mat-card class="example-card">
                  <mat-card-header>
                    <div mat-card-avatar>
                      <i><mat-icon class="icon">bookmark</mat-icon> </i>
                    </div>
                    <mat-card-title>
                      <h5> Products </h5>
                    </mat-card-title>
                    <mat-card-subtitle>products</mat-card-subtitle>
                  </mat-card-header>
          
                </mat-card>
          
              </mat-grid-tile>
          
          
          
            </mat-grid-list>
          
          
          
          
          
          
          </div>
          
          
          
          
          <div class="row">
          
            <mat-grid-list cols="5" rowHeight="2:1">
          
          
          
              <mat-grid-tile>
                <mat-card class="example-card">
                  <mat-card-header>
                    <div mat-card-avatar>
                      <i><mat-icon class="icon">bookmark</mat-icon> </i>
                    </div>
                    <mat-card-title>
                      <h5> Products </h5>
                    </mat-card-title>
                    <mat-card-subtitle>products</mat-card-subtitle>
                  </mat-card-header>
          
                </mat-card>
          
              </mat-grid-tile>
          
          
              <mat-grid-tile>
                <mat-card class="example-card">
                  <mat-card-header>
                    <div mat-card-avatar>
                      <i><mat-icon class="icon">equalizer</mat-icon> </i>
                    </div>
                    <mat-card-title>
                      <h5>Services </h5>
                    </mat-card-title>
                    <mat-card-subtitle>services</mat-card-subtitle>
                  </mat-card-header>
                </mat-card>
              </mat-grid-tile>
          
              <!-- 3 -->
              <mat-grid-tile>
                <mat-card class="example-card">
                  <mat-card-header>
                    <div mat-card-avatar>
                      <i><mat-icon class="icon">hearing</mat-icon> </i>
                    </div>
                    <mat-card-title>
                      <h5> News</h5>
                    </mat-card-title>
                    <mat-card-subtitle>news</mat-card-subtitle>
                  </mat-card-header>
                </mat-card>
              </mat-grid-tile>
          
              <!--  4-->
              <mat-grid-tile>
                <mat-card class="example-card">
                  <mat-card-header>
                    <div mat-card-avatar>
                      <i><mat-icon class="icon">autorenew</mat-icon> </i>
                    </div>
                    <mat-card-title>
                      <h5> Updates</h5>
                    </mat-card-title>
                    <mat-card-subtitle>updates</mat-card-subtitle>
                  </mat-card-header>
                </mat-card>
              </mat-grid-tile>
          
              <!--  5-->
              <mat-grid-tile>
                <mat-card class="example-card">
                  <mat-card-header>
                    <div mat-card-avatar>
                      <i><mat-icon class="icon">account_circle</mat-icon> </i>
                    </div>
                    <mat-card-title>
                      User Profile
                    </mat-card-title>
                    <mat-card-subtitle>users</mat-card-subtitle>
                  </mat-card-header>
                </mat-card>
              </mat-grid-tile>
          
            </mat-grid-list>
          
          
          
          
          
          
          </div>
          
          
          
          
          
          
