<mat-grid-list cols="1" rowHeight="18:1"  >

       <form class="example-form" >
          <mat-grid-tile>
              <mat-icon class="icon">account_box</mat-icon>
           </mat-grid-tile>
    <mat-grid-tile>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Email" value="example@example.com">
            </mat-form-field>
    
          
    </mat-grid-tile  >
    <mat-grid-tile>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Password" value="password" type="password">
          </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile  >
<span>  <button mat-icon-button  class="float-right">
              <mat-icon aria-label="Example icon-button with arrow-icon" class="icon">arrow_forward</mat-icon>
            </button>
          </span>
     
    </mat-grid-tile>
  <mat-grid-tile>
    <p class="caption">Forgot password?<a> Click here to reset</a></p>
  </mat-grid-tile>
    <mat-grid-tile >
        <p class="button">New user?<a> Activate account with token</a></p>
    </mat-grid-tile>
          
  </form>

 
  </mat-grid-list>
  