<mat-grid-list cols="1" rowHeight="24:1"  >

  <form class="example-form" >
     
<mat-grid-tile>
       <mat-form-field class="example-full-width">
         <input matInput placeholder="Stree No" value="24A">
       </mat-form-field>   
</mat-grid-tile>

<mat-grid-tile>
 <mat-form-field class="example-full-width">
   <input matInput placeholder="Address" value="Standford Bridge">
 </mat-form-field>   
</mat-grid-tile>
<mat-grid-tile>
       <mat-form-field class="example-full-width">
         <input matInput placeholder="Nearest Bus-Stop" value="Campri Hill">
       </mat-form-field>   
</mat-grid-tile>
<mat-grid-tile>
 <mat-form-field class="example-full-width">
   <input matInput placeholder="City" value="Manchester City">
 </mat-form-field>   
</mat-grid-tile>

<mat-grid-tile>
<mat-form-field class="example-full-width">
<input matInput placeholder="State" value="England">
</mat-form-field>  
</mat-grid-tile>       

<mat-grid-tile>
<mat-form-field class="example-full-width">
<input matInput placeholder="Country" value="United Kingdom">
</mat-form-field>  
</mat-grid-tile> 

<mat-grid-tile>
<mat-form-field class="example-full-width">
<input matInput placeholder="Zip Code" value="001265">
</mat-form-field>  
</mat-grid-tile>

<mat-grid-tile>
<mat-form-field class="example-full-width">
<input matInput placeholder="Phone Number" value="+44 112 2324 455">
</mat-form-field>  
</mat-grid-tile>  

<mat-grid-tile>
<mat-form-field class="example-full-width">
<input matInput placeholder="Email" value="example@example.com">
</mat-form-field>  
</mat-grid-tile>  
</form>


</mat-grid-list>
