<div class="example-container">
  <mat-form-field>
    <input matInput [ngFormControl]="phoneLen" placeholder="Phone number">
    <mat-icon  aria-label="Example icon-button with a heart icon">phone</mat-icon>
  </mat-form-field>
  <button mat-icon-button>
    <mat-icon aria-label="Example icon-button with a heart icon">{{iconValue}}</mat-icon>
  </button>
 
</div>



<!-- <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
  <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4">
  <label class="mdl-textfield__label" for="sample4">Phone number...</label>
  <i class="material-icons">search</i>
  <span class="mdl-textfield__error">Input is not a number!</span>


  <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
   Register
  </button>
</div> -->

